<header>
    <nav class="navbar is-hidden-mobile" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" tyle="{{iniStyle}}" href="index.html">
          Inicio
          <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu is-active">
        <div class="navbar-start">
          <a class="navbar-item" style="{{aboutStyle}}" href="./about.html">
            Sobre
          </a>
    
          <a class="navbar-item" style="{{metaStyle}}" href="./meta.html">
            Meta
          </a>

          <a class="navbar-item" style="{{formStyle}}" href="./formations.html">
            Formação
          </a>

          <a class="navbar-item" style="{{expStyle}}" href="./experiences.html">
            Experiências
          </a>

          <a class="navbar-item" style="{{qualyStyle}}" href="./courses.html">
            Qualificações
          </a>

          <a class="navbar-item" style="{{portStyle}}" href="./portfolio.html">
            Portfólio
          </a>

        </div>
      </div>
    </nav> 
  </header>