<div class="column is-4">
    <div class="card">
    <div class="card-image" style="flex-direction: row; display: flex;">
        <figure class="image is-4by4" style="margin: 0; width: 50%; height: 50%;">
        <img src="{{image1}}" alt="Placeholder image">
        </figure>
        <figure class="image is-4by4" style="margin: 0; width: 50%; height: 50%;">
            <img src="{{image2}}" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
        <div class="media-content">
            <a target="_blank" href="{{link}}">
                <div class="content icon-text">
                    <p class="title is-5">{{title}}</p>
                    <span class="icon"><i class="fa fa-link"></i></span>
                </div>
            </a>
        </div>
        </div>
    
        <div class="content icon-text">
        <span class="icon" style="color: rgb(0, 123, 255);"><i class="{{icon}}"></i></span><p>{{usage}}</p>
        </div>
    </div>
    </div>
</div>

    